<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">


	<!-- ====================================================== -->
	<!-- Define the beans for the gui services -->
	<!-- Set the creation scope for the beans -->
	<!-- for scalable working -->
	<!-- ====================================================== -->

	<!-- bean for getting access to the spring applicationContext -->
	<bean id="applicationContextProvider" class="de.forsthaus.util.ApplicationContextProvider"></bean>



	<!-- Index-Page -->
	<bean id="indexCtrl" class="de.forsthaus.webui.index.IndexCtrl" parent="basisCtrl" scope="prototype">
		<property name="officeService" ref="officeService" />
	</bean>

	<!-- TestController for playing -->
	<bean id="testCtrl" class="de.forsthaus.example.TestCtrl" scope="prototype">
		<property name="officeService" ref="officeService" />
		<property name="pagedListWrapperBranche" ref="pagedListWrapper" />
		<property name="pagedListWrapperCustomer" ref="pagedListWrapper" />
	</bean>

	<!-- Dashboard -->
	<bean id="dashboardMainCtrl" class="de.forsthaus.webui.dashboard.DashboardMainCtrl" parent="basisCtrl" scope="prototype">
	</bean>


	<!-- Articles / Artikelstammdaten -->
	<bean id="articleMainCtrl" class="de.forsthaus.webui.article.ArticleMainCtrl" parent="basisCtrl" scope="prototype">
		<!-- <property name="articleService" ref="articleService" /> -->
		<property name="articleListCtrl" ref="articleListCtrl" />
		<property name="articleDetailCtrl" ref="articleDetailCtrl" />
	</bean>
	<bean id="articleListCtrl" class="de.forsthaus.webui.article.ArticleListCtrl" parent="basisListCtrl" scope="prototype">
		<!-- <property name="articleService" ref="articleService" /> -->
	</bean>
	<bean id="articleDetailCtrl" class="de.forsthaus.webui.article.ArticleDetailCtrl" parent="basisCtrl" scope="prototype">
		<!-- <property name="articleService" ref="articleService" /> -->
	</bean>
	
	<!-- Propinsi -->
	<bean id="propinsiMainCtrl" class="de.forsthaus.webui.wilayah.PropinsiMainCtrl" parent="basisCtrl" scope="prototype">
		<property name="wilayahDAO" ref="wilayahDAO" />
		<property name="propinsiListCtrl" ref="propinsiListCtrl" />
		<property name="kotaListCtrl" ref="kotaListCtrl" />
		<property name="kecamatanListCtrl" ref="kecamatanListCtrl" />
		<property name="kelurahanListCtrl" ref="kelurahanListCtrl" />
		<property name="plwWilayah" ref="pagedListWrapper" />
<!-- 		<property name="propinsiDetailCtrl" ref="propinsiDetailCtrl" /> -->
	</bean>
	<bean id="propinsiDialogCtrl" class="de.forsthaus.webui.wilayah.PropinsiDialogCtrl" parent="basisCtrl" scope="prototype">
		<property name="wilayahDAO" ref="wilayahDAO" />
	</bean>
	<bean id="propinsiListCtrl" class="de.forsthaus.webui.wilayah.PropinsiListCtrl" parent="basisListCtrl" scope="prototype">
		<property name="wilayahDAO" ref="wilayahDAO" />
	</bean>
	<bean id="kotaListCtrl" class="de.forsthaus.webui.wilayah.KotaListCtrl" parent="basisListCtrl" scope="prototype">
		<property name="wilayahDAO" ref="wilayahDAO" />
	</bean>
	<bean id="kecamatanListCtrl" class="de.forsthaus.webui.wilayah.KecamatanListCtrl" parent="basisListCtrl" scope="prototype">
		<property name="wilayahDAO" ref="wilayahDAO" />
	</bean>
	<bean id="kelurahanListCtrl" class="de.forsthaus.webui.wilayah.KelurahanListCtrl" parent="basisListCtrl" scope="prototype">
		<property name="wilayahDAO" ref="wilayahDAO" />
	</bean>
	<bean id="golonganRuangDialogCtrl" class="de.forsthaus.webui.golonganruang.GolonganRuangDialogCtrl" parent="basisCtrl" scope="prototype">
		<property name="golonganRuangDAO" ref="golonganRuangDAO" />
	</bean>
	<bean id="golonganRuangListCtrl" class="de.forsthaus.webui.golonganruang.GolonganRuangListCtrl" parent="basisListCtrl" scope="prototype">
		<property name="golonganRuangDAO" ref="golonganRuangDAO" />
	</bean>
	<bean id="gajiPokokDialogCtrl" class="de.forsthaus.webui.gajipokok.GajiPokokDialogCtrl" parent="basisCtrl" scope="prototype">
		<property name="gajiPokokDAO" ref="gajiPokokDAO" />
	</bean>
	<bean id="gajiPokokListCtrl" class="de.forsthaus.webui.gajipokok.GajiPokokListCtrl" parent="basisListCtrl" scope="prototype">
		<property name="gajiPokokDAO" ref="gajiPokokDAO" />
	</bean>
	<bean id="agamaDialogCtrl" class="de.forsthaus.webui.gabungan.AgamaDialogCtrl" parent="basisCtrl" scope="prototype">
		<property name="gabunganDAO" ref="gabunganDAO" />
	</bean>
	<bean id="agamaListCtrl" class="de.forsthaus.webui.gabungan.AgamaListCtrl" parent="basisListCtrl" scope="prototype">
		<property name="gabunganDAO" ref="gabunganDAO" />
	</bean>
	<bean id="jenisGuruDialogCtrl" class="de.forsthaus.webui.gabungan.JenisGuruDialogCtrl" parent="basisCtrl" scope="prototype">
		<property name="jenisGuruDAO" ref="jenisGuruDAO" />
	</bean>
	<bean id="jenisGuruListCtrl" class="de.forsthaus.webui.gabungan.JenisGuruListCtrl" parent="basisListCtrl" scope="prototype">
		<property name="jenisGuruDAO" ref="jenisGuruDAO" />
		<property name="plwKelompokGuru" ref="pagedListWrapper" />
	</bean>
	<bean id="kelompokGuruDialogCtrl" class="de.forsthaus.webui.gabungan.KelompokGuruDialogCtrl" parent="basisCtrl" scope="prototype">
		<property name="jenisGuruDAO" ref="jenisGuruDAO" />
	</bean>
	<bean id="kelompokGuruListCtrl" class="de.forsthaus.webui.gabungan.KelompokGuruListCtrl" parent="basisListCtrl" scope="prototype">
		<property name="jenisGuruDAO" ref="jenisGuruDAO" />
	</bean>
	<bean id="jenisGuruMainCtrl" class="de.forsthaus.webui.gabungan.JenisGuruMainCtrl" parent="basisCtrl" scope="prototype" />
	<bean id="statusKepegawaianDialogCtrl" class="de.forsthaus.webui.gabungan.StatusKepegawaianDialogCtrl" parent="basisCtrl" scope="prototype">
		<property name="gabunganDAO" ref="gabunganDAO" />
	</bean>
	<bean id="statusKepegawaianListCtrl" class="de.forsthaus.webui.gabungan.StatusKepegawaianListCtrl" parent="basisListCtrl" scope="prototype">
		<property name="gabunganDAO" ref="gabunganDAO" />
	</bean>
	<bean id="kedudukanPNSDialogCtrl" class="de.forsthaus.webui.gabungan.KedudukanPNSDialogCtrl" parent="basisCtrl" scope="prototype">
		<property name="gabunganDAO" ref="gabunganDAO" />
	</bean>
	<bean id="kedudukanPNSListCtrl" class="de.forsthaus.webui.gabungan.KedudukanPNSListCtrl" parent="basisListCtrl" scope="prototype">
		<property name="gabunganDAO" ref="gabunganDAO" />
	</bean>
	<bean id="jenisNaikPangkatDialogCtrl" class="de.forsthaus.webui.gabungan.JenisNaikPangkatDialogCtrl" parent="basisCtrl" scope="prototype">
		<property name="gabunganDAO" ref="gabunganDAO" />
	</bean>
	<bean id="jenisNaikPangkatListCtrl" class="de.forsthaus.webui.gabungan.JenisNaikPangkatListCtrl" parent="basisListCtrl" scope="prototype">
		<property name="gabunganDAO" ref="gabunganDAO" />
	</bean>
	<bean id="pekerjaanDialogCtrl" class="de.forsthaus.webui.gabungan.PekerjaanDialogCtrl" parent="basisCtrl" scope="prototype">
		<property name="gabunganDAO" ref="gabunganDAO" />
	</bean>
	<bean id="pekerjaanListCtrl" class="de.forsthaus.webui.gabungan.PekerjaanListCtrl" parent="basisListCtrl" scope="prototype">
		<property name="gabunganDAO" ref="gabunganDAO" />
	</bean>
	<bean id="jenisKepegawaianDialogCtrl" class="de.forsthaus.webui.gabungan.JenisKepegawaianDialogCtrl" parent="basisCtrl" scope="prototype">
		<property name="gabunganDAO" ref="gabunganDAO" />
	</bean>
	<bean id="jenisKepegawaianListCtrl" class="de.forsthaus.webui.gabungan.JenisKepegawaianListCtrl" parent="basisListCtrl" scope="prototype">
		<property name="gabunganDAO" ref="gabunganDAO" />
	</bean>
	<bean id="jenisHukumanRinganDialogCtrl" class="de.forsthaus.webui.gabungan.JenisHukumanRinganDialogCtrl" parent="basisCtrl" scope="prototype">
		<property name="gabunganDAO" ref="gabunganDAO" />
	</bean>
	<bean id="jenisHukumanRinganListCtrl" class="de.forsthaus.webui.gabungan.JenisHukumanRinganListCtrl" parent="basisListCtrl" scope="prototype">
		<property name="gabunganDAO" ref="gabunganDAO" />
	</bean>
	<bean id="jenisHukumanSedangDialogCtrl" class="de.forsthaus.webui.gabungan.JenisHukumanSedangDialogCtrl" parent="basisCtrl" scope="prototype">
		<property name="gabunganDAO" ref="gabunganDAO" />
	</bean>
	<bean id="jenisHukumanSedangListCtrl" class="de.forsthaus.webui.gabungan.JenisHukumanSedangListCtrl" parent="basisListCtrl" scope="prototype">
		<property name="gabunganDAO" ref="gabunganDAO" />
	</bean>
	<bean id="jenisHukumanBeratDialogCtrl" class="de.forsthaus.webui.gabungan.JenisHukumanBeratDialogCtrl" parent="basisCtrl" scope="prototype">
		<property name="gabunganDAO" ref="gabunganDAO" />
	</bean>
	<bean id="jenisHukumanBeratListCtrl" class="de.forsthaus.webui.gabungan.JenisHukumanBeratListCtrl" parent="basisListCtrl" scope="prototype">
		<property name="gabunganDAO" ref="gabunganDAO" />
	</bean>
	<bean id="jenisHukumanMainCtrl" class="de.forsthaus.webui.gabungan.JenisHukumanMainCtrl" parent="basisCtrl" scope="prototype" />
	
	<bean id="biroKeuanganDialogCtrl" class="de.forsthaus.webui.gabungan.BiroKeuanganDialogCtrl" parent="basisCtrl" scope="prototype">
		<property name="gabunganDAO" ref="gabunganDAO" />
	</bean>
	<bean id="biroKeuanganListCtrl" class="de.forsthaus.webui.gabungan.BiroKeuanganListCtrl" parent="basisListCtrl" scope="prototype">
		<property name="gabunganDAO" ref="gabunganDAO" />
	</bean>
	<bean id="kpknDialogCtrl" class="de.forsthaus.webui.gabungan.KPKNDialogCtrl" parent="basisCtrl" scope="prototype">
		<property name="gabunganDAO" ref="gabunganDAO" />
	</bean>
	<bean id="kpknListCtrl" class="de.forsthaus.webui.gabungan.KPKNListCtrl" parent="basisListCtrl" scope="prototype">
		<property name="gabunganDAO" ref="gabunganDAO" />
	</bean>
	<bean id="wilayahGajiMainCtrl" class="de.forsthaus.webui.gabungan.WilayahGajiMainCtrl" parent="basisCtrl" scope="prototype" />
	
	<bean id="strukturalDialogCtrl" class="de.forsthaus.webui.diklatjabatan.StrukturalDialogCtrl" parent="basisCtrl" scope="prototype">
		<property name="gabunganDAO" ref="gabunganDAO" />
	</bean>
	<bean id="strukturalListCtrl" class="de.forsthaus.webui.diklatjabatan.StrukturalListCtrl" parent="basisListCtrl" scope="prototype">
		<property name="gabunganDAO" ref="gabunganDAO" />
	</bean>
	<bean id="fungsionalDialogCtrl" class="de.forsthaus.webui.diklatjabatan.FungsionalDialogCtrl" parent="basisCtrl" scope="prototype">
		<property name="gabunganDAO" ref="gabunganDAO" />
	</bean>
	<bean id="fungsionalListCtrl" class="de.forsthaus.webui.diklatjabatan.FungsionalListCtrl" parent="basisListCtrl" scope="prototype">
		<property name="gabunganDAO" ref="gabunganDAO" />
	</bean>
	<bean id="teknisDialogCtrl" class="de.forsthaus.webui.diklatjabatan.TeknisDialogCtrl" parent="basisCtrl" scope="prototype">
		<property name="gabunganDAO" ref="gabunganDAO" />
	</bean>
	
	<bean id="teknisListCtrl" class="de.forsthaus.webui.diklatjabatan.TeknisListCtrl" parent="basisListCtrl" scope="prototype">
		<property name="gabunganDAO" ref="gabunganDAO" />
	</bean>
	<bean id="diklatJabatanMainCtrl" class="de.forsthaus.webui.diklatjabatan.DiklatJabatanMainCtrl" parent="basisCtrl" scope="prototype" />
	
	
	<bean id="unitOrganisasiDialogCtrl" class="de.forsthaus.webui.unitkerja.UnitOrganisasiDialogCtrl" parent="basisCtrl" scope="prototype">
		<property name="unitKerjaDAO" ref="unitKerjaDAO" />
	</bean>
	<bean id="unitOrganisasiListCtrl" class="de.forsthaus.webui.unitkerja.UnitOrganisasiListCtrl" parent="basisListCtrl" scope="prototype">
		<property name="unitKerjaDAO" ref="unitKerjaDAO" />
	</bean>
	<bean id="unitKerjaDialogCtrl" class="de.forsthaus.webui.unitkerja.UnitKerjaDialogCtrl" parent="basisCtrl" scope="prototype">
		<property name="unitKerjaDAO" ref="unitKerjaDAO" />
		<property name="wilayahDAO" ref="wilayahDAO" />
		<property name="eselonDAO" ref="eselonDAO" />
	</bean>
	<bean id="unitKerjaListCtrl" class="de.forsthaus.webui.unitkerja.UnitKerjaListCtrl" parent="basisListCtrl" scope="prototype">
		<property name="unitKerjaDAO" ref="unitKerjaDAO" />
		<property name="plwUnitOrganisasi" ref="pagedListWrapper" />
	</bean>
	<bean id="satuanKerjaDialogCtrl" class="de.forsthaus.webui.unitkerja.SatuanKerjaDialogCtrl" parent="basisCtrl" scope="prototype">
		<property name="unitKerjaDAO" ref="unitKerjaDAO" />
		<property name="eselonDAO" ref="eselonDAO" />
	</bean>
	<bean id="satuanKerjaListCtrl" class="de.forsthaus.webui.unitkerja.SatuanKerjaListCtrl" parent="basisListCtrl" scope="prototype">
		<property name="unitKerjaDAO" ref="unitKerjaDAO" />
		<property name="plwUnitKerja" ref="pagedListWrapper" />
	</bean>
	<bean id="unitKerjaMainCtrl" class="de.forsthaus.webui.unitkerja.UnitKerjaMainCtrl" parent="basisCtrl" scope="prototype" />
	
	<bean id="tingkatPendidikanDialogCtrl" class="de.forsthaus.webui.dikum.TingkatPendidikanDialogCtrl" parent="basisCtrl" scope="prototype">
		<property name="dikumDAO" ref="dikumDAO" />
	</bean>
	<bean id="tingkatPendidikanListCtrl" class="de.forsthaus.webui.dikum.TingkatPendidikanListCtrl" parent="basisListCtrl" scope="prototype">
		<property name="dikumDAO" ref="dikumDAO" />
	</bean>
	<bean id="jenjangPendidikanDialogCtrl" class="de.forsthaus.webui.dikum.JenjangPendidikanDialogCtrl" parent="basisCtrl" scope="prototype">
		<property name="dikumDAO" ref="dikumDAO" />
		<property name="golonganDAO" ref="golonganDAO" />
	</bean>
	<bean id="jenjangPendidikanListCtrl" class="de.forsthaus.webui.dikum.JenjangPendidikanListCtrl" parent="basisListCtrl" scope="prototype">
		<property name="dikumDAO" ref="dikumDAO" />
		<property name="plwTingkatPendidikan" ref="pagedListWrapper" />
	</bean>
	<bean id="jurusanDialogCtrl" class="de.forsthaus.webui.dikum.JurusanDialogCtrl" parent="basisCtrl" scope="prototype">
		<property name="dikumDAO" ref="dikumDAO" />
		<property name="golonganDAO" ref="golonganDAO" />
	</bean>
	<bean id="jurusanListCtrl" class="de.forsthaus.webui.dikum.JurusanListCtrl" parent="basisListCtrl" scope="prototype">
		<property name="dikumDAO" ref="dikumDAO" />
		<property name="plwJenjangPendidikan" ref="pagedListWrapper" />
	</bean>
	<bean id="programStudiDialogCtrl" class="de.forsthaus.webui.dikum.ProgramStudiDialogCtrl" parent="basisCtrl" scope="prototype">
		<property name="dikumDAO" ref="dikumDAO" />
		<property name="golonganDAO" ref="golonganDAO" />
	</bean>
	<bean id="programStudiListCtrl" class="de.forsthaus.webui.dikum.ProgramStudiListCtrl" parent="basisListCtrl" scope="prototype">
		<property name="dikumDAO" ref="dikumDAO" />
	</bean>
	<bean id="dikumMainCtrl" class="de.forsthaus.webui.dikum.DikumMainCtrl" parent="basisCtrl" scope="prototype" />
	
	
	<bean id="kelompokTandaJasaDialogCtrl" class="de.forsthaus.webui.tandajasa.KelompokTandaJasaDialogCtrl" parent="basisCtrl" scope="prototype">
		<property name="gabunganDAO" ref="gabunganDAO" />
	</bean>
	<bean id="kelompokTandaJasaListCtrl" class="de.forsthaus.webui.tandajasa.KelompokTandaJasaListCtrl" parent="basisListCtrl" scope="prototype">
		<property name="gabunganDAO" ref="gabunganDAO" />
	</bean>
	<bean id="jenisTandaJasaDialogCtrl" class="de.forsthaus.webui.tandajasa.JenisTandaJasaDialogCtrl" parent="basisCtrl" scope="prototype">
		<property name="gabunganDAO" ref="gabunganDAO" />
	</bean>
	<bean id="jenisTandaJasaListCtrl" class="de.forsthaus.webui.tandajasa.JenisTandaJasaListCtrl" parent="basisListCtrl" scope="prototype">
		<property name="gabunganDAO" ref="gabunganDAO" />
		<property name="plwKelompokTandaJasa" ref="pagedListWrapper" />
	</bean>
	<bean id="tandaJasaMainCtrl" class="de.forsthaus.webui.tandajasa.TandaJasaMainCtrl" parent="basisCtrl" scope="prototype" />
	<bean id="jenisOrganisasiDialogCtrl" class="de.forsthaus.webui.gabungan.JenisOrganisasiDialogCtrl" parent="basisCtrl" scope="prototype">
		<property name="gabunganDAO" ref="gabunganDAO" />
	</bean>
	<bean id="jenisOrganisasiListCtrl" class="de.forsthaus.webui.gabungan.JenisOrganisasiListCtrl" parent="basisListCtrl" scope="prototype">
		<property name="gabunganDAO" ref="gabunganDAO" />
	</bean>
	<bean id="eselonDialogCtrl" class="de.forsthaus.webui.eselon.EselonDialogCtrl" parent="basisCtrl" scope="prototype">
		<property name="eselonDAO" ref="eselonDAO" />
		<property name="golonganRuangDAO" ref="golonganRuangDAO" />
	</bean>
	<bean id="eselonListCtrl" class="de.forsthaus.webui.eselon.EselonListCtrl" parent="basisListCtrl" scope="prototype">
		<property name="eselonDAO" ref="eselonDAO" />
	</bean>
	<bean id="unitKerjaAlamatDialogCtrl" class="de.forsthaus.webui.alamat.UnitKerjaAlamatDialogCtrl" parent="basisCtrl" scope="prototype">
		<property name="unitKerjaDAO" ref="unitKerjaDAO" />
	</bean>
	<bean id="unitKerjaAlamatListCtrl" class="de.forsthaus.webui.alamat.UnitKerjaAlamatListCtrl" parent="basisListCtrl" scope="prototype">
		<property name="unitKerjaDAO" ref="unitKerjaDAO" />
	</bean>
<!-- 	<bean id="propinsiDetailCtrl" class="de.forsthaus.webui.wilayah.PropinsiDetailCtrl" parent="basisCtrl" scope="prototype"> -->
<!-- 		<property name="propinsiService" ref="wilayahDAO" /> -->
<!-- 	</bean> -->

	<!-- Branch / Branchenstammdaten -->
	<bean id="branchMainCtrl" class="de.forsthaus.webui.branch.BranchMainCtrl" parent="basisCtrl" scope="prototype">
		<property name="brancheService" ref="brancheService" />
		<property name="branchListCtrl" ref="branchListCtrl" />
		<property name="branchDetailCtrl" ref="branchDetailCtrl" />
	</bean>
	<!-- BranchList / BranchenListe -->
	<bean id="branchListCtrl" class="de.forsthaus.webui.branch.BranchListCtrl" parent="basisListCtrl" scope="prototype">
		<property name="brancheService" ref="brancheService" />
	</bean>
	<!-- BranchDetails / Branchen-Details -->
	<bean id="branchDetailCtrl" class="de.forsthaus.webui.branch.BranchDetailCtrl" parent="basisCtrl" scope="prototype">
		<property name="brancheService" ref="brancheService" />
	</bean>

	<!-- Customers -->
	<bean id="customerListCtrl" class="de.forsthaus.webui.customer.CustomerListCtrl" parent="basisListCtrl" scope="prototype">
		<property name="brancheService" ref="brancheService" />
		<property name="customerService" ref="customerService" />
	</bean>
	<bean id="customerDialogCtrl" class="de.forsthaus.webui.customer.CustomerDialogCtrl" parent="basisCtrl" scope="prototype">
		<property name="brancheService" ref="brancheService" />
		<property name="customerService" ref="customerService" />
		<property name="chartService" ref="chartService" />
		<!-- <property name="plwBranche" ref="pagedListWrapper" /> -->
	</bean>
	<bean id="customerChartCtrl" class="de.forsthaus.webui.customer.CustomerChartCtrl" parent="basisCtrl" scope="prototype">
		<property name="chartService" ref="chartService" />
	</bean>
	<bean id="customerSearchCtrl" class="de.forsthaus.webui.customer.CustomerSearchCtrl" parent="basisCtrl" scope="prototype">
		<property name="brancheService" ref="brancheService" />
		<property name="customerService" ref="customerService" />
	</bean>
	
	<!-- Pegawai -->
	
	<bean id="pegawaiMainCtrl" class="de.forsthaus.webui.pegawai.PegawaiMainCtrl" parent="basisCtrl" scope="prototype">
	    <property name="pegawaiListCtrl" ref="pegawaiListCtrl"/>
	    <property name="pegawaiDetailCtrl_DataPokok" ref="pegawaiDetailCtrl_DataPokok"/>
	    <property name="tpCpnsDAO" ref="tpCpnsDao"/>
<!-- 	    <property name="tpIdentitasDAO" ref="tpIdentitasDao"/> -->
	</bean>
	
	<bean id="pegawaiListCtrl" class="de.forsthaus.webui.pegawai.PegawaiListCtrl" parent="basisCtrl" scope="prototype">
	    <property name="tpCpnsDAO" ref="tpCpnsDao"/>
	</bean>
	
	<bean id="pegawaiDetailCtrl_DataPokok" class="de.forsthaus.webui.pegawai.PegawaiDetailCtrl_DataPokok" parent="basisCtrl" scope="prototype">
	    <property name="pegawaiDetailCtrl_DataPokok_Identitas" ref="pegawaiDetailCtrl_DataPokok_Identitas"/>
	    <property name="identitasDAO" ref="tpIdentitasDao"/>
	</bean>
	
	<bean id="pegawaiDetailCtrl_DataPokok_Identitas" class="de.forsthaus.webui.pegawai.PegawaiDetailCtrl_DataPokok_Identitas" parent="basisCtrl" scope="prototype">
		<property name="gabunganDAO" ref="gabunganDAO"/>
	</bean>
	
	<bean id="provinsiSelectCtrl" class="de.forsthaus.webui.pegawai.identitas.IdentitasSelectCtrl_Provinsi" parent="basisCtrl" scope="prototype">
	    <property name="wilayahDAO" ref="wilayahDAO"/>
	    <property name="identitasCtrl" ref="pegawaiDetailCtrl_DataPokok_Identitas"/>
	</bean>

	<!-- Guestbook -->
	<bean id="guestBookListCtrl" class="de.forsthaus.webui.guestbook.GuestBookListCtrl" parent="basisCtrl" scope="prototype">
		<property name="guestBookService" ref="guestBookService" />
	</bean>
	<bean id="guestBookDialogCtrl" class="de.forsthaus.webui.guestbook.GuestBookDialogCtrl" parent="basisCtrl" scope="prototype">
		<property name="guestBookService" ref="guestBookService" />
	</bean>

	<!-- Calendar / Kalender -->
	<bean id="calendarMainCtrl" class="de.forsthaus.webui.calendar.CalendarMainCtrl" parent="basisCtrl" scope="prototype">
		<property name="calendarEventService" ref="calendarEventService" />
	</bean>
	<!-- create event / Termin anlegen -->
	<bean id="createEventCtrl" class="de.forsthaus.webui.calendar.CalendarCreateEventCtrl" parent="basisCtrl" scope="prototype">
		<property name="calendarEventService" ref="calendarEventService" />
	</bean>
	<!-- edit event / Termin aendern -->
	<bean id="editEventCtrl" class="de.forsthaus.webui.calendar.CalendarEditEventCtrl" parent="basisCtrl" scope="prototype">
		<property name="calendarEventService" ref="calendarEventService" />
	</bean>


	<!-- Documentation / Dokumentation -->
	<bean id="documentationCtrl" class="de.forsthaus.webui.documentation.DocumentationCtrl" parent="basisCtrl" scope="prototype">
	</bean>
	<!-- Blog / Blog -->
	<bean id="blogCtrl" class="de.forsthaus.webui.blog.BlogCtrl" parent="basisCtrl" scope="prototype">
	</bean>
	<!-- SourceForge.net-Codes / Codes -->
	<bean id="codesCtrl" class="de.forsthaus.webui.codes.CodesCtrl" parent="basisCtrl" scope="prototype">
	</bean>

	<!-- Offices / Filialstammdaten -->
	<bean id="officeMainCtrl" class="de.forsthaus.webui.office.OfficeMainCtrl" parent="basisCtrl" scope="prototype">
		<property name="officeService" ref="officeService" />
		<property name="officeListCtrl" ref="officeListCtrl" />
		<property name="officeDetailCtrl" ref="officeDetailCtrl" />
	</bean>
	<bean id="officeListCtrl" class="de.forsthaus.webui.office.OfficeListCtrl" parent="basisCtrl" scope="prototype">
		<property name="officeService" ref="officeService" />
	</bean>
	<bean id="officeDetailCtrl" class="de.forsthaus.webui.office.OfficeDetailCtrl" parent="basisCtrl" scope="prototype">
		<property name="officeService" ref="officeService" />
	</bean>

	<!-- Orders -->
	<bean id="orderListCtrl" class="de.forsthaus.webui.order.OrderListCtrl" parent="basisCtrl" scope="prototype">
		<property name="orderService" ref="orderService" />
		<property name="customerService" ref="customerService" />
		<property name="brancheService" ref="brancheService" />
		<property name="plwOrders" ref="pagedListWrapper" />
		<property name="plwOrderpositions" ref="pagedListWrapper" />
		<property name="plwCustomers" ref="pagedListWrapper" />
	</bean>
	<bean id="orderDialogCtrl" class="de.forsthaus.webui.order.OrderDialogCtrl" parent="basisCtrl" scope="prototype">
		<property name="orderService" ref="orderService" />
		<property name="customerService" ref="customerService" />
		<property name="brancheService" ref="brancheService" />
		<property name="plwOrderpositions" ref="pagedListWrapper" />
		<property name="plwCustomers" ref="pagedListWrapper" />
	</bean>
	<bean id="orderPositionDialogCtrl" class="de.forsthaus.webui.order.OrderPositionDialogCtrl" parent="basisCtrl"
		scope="prototype">
		<property name="orderService" ref="orderService" />
		<property name="customerService" ref="customerService" />
		<property name="brancheService" ref="brancheService" />
		<property name="plwOrderpositions" ref="pagedListWrapper" />
		<property name="plwArticles" ref="pagedListWrapper" />
	</bean>

	<!-- Users -->
	<bean id="userListCtrl" class="de.forsthaus.webui.security.user.UserListCtrl" parent="basisCtrl" scope="prototype">
		<property name="userService" ref="userService" />
	</bean>
	<bean id="userDialogCtrl" class="de.forsthaus.webui.security.user.UserDialogCtrl" parent="basisCtrl" scope="prototype">
		<property name="userService" ref="userService" />
	</bean>
	<bean id="myUserSettingsCtrl" class="de.forsthaus.webui.security.user.MyUserSettingsCtrl" parent="basisCtrl"
		scope="prototype">
		<property name="userService" ref="userService" />
	</bean>


	<!-- Login-Logs -->
	<bean id="secLoginlogMainCtrl" class="de.forsthaus.webui.logging.loginlog.SecLoginlogMainCtrl" parent="basisCtrl"
		scope="prototype">
		<property name="loginLoggingService" ref="loginLoggingService" />
	</bean>
	<bean id="secLoginlogListCtrl" class="de.forsthaus.webui.logging.loginlog.SecLoginlogListCtrl" parent="basisCtrl"
		scope="prototype">
		<property name="loginLoggingService" ref="loginLoggingService" />
		<property name="guiLoginLoggingService" ref="guiLoginLoggingService" />
	</bean>
	<bean id="secLoginlogStatisticCtrl" class="de.forsthaus.webui.logging.loginlog.SecLoginlogStatisticCtrl" parent="basisCtrl"
		scope="prototype">
		<property name="loginLoggingService" ref="loginLoggingService" />
	</bean>


	<!-- +++++ SECURITY +++++ -->
	<!-- Groups -->
	<bean id="secGroupListCtrl" class="de.forsthaus.webui.security.group.SecGroupListCtrl" parent="basisListCtrl"
		scope="prototype">
		<property name="securityService" ref="securityService" />
	</bean>
	<bean id="secGroupDialogCtrl" class="de.forsthaus.webui.security.group.SecGroupDialogCtrl" parent="basisCtrl"
		scope="prototype">
		<property name="securityService" ref="securityService" />
	</bean>
	<!-- Group-Rights -->
	<bean id="secGrouprightCtrl" class="de.forsthaus.webui.security.groupright.SecGrouprightCtrl" parent="basisCtrl"
		scope="prototype">
		<property name="securityService" ref="securityService" />
		<property name="plwSecGroups" ref="pagedListWrapper" />
		<property name="plwSecRights" ref="pagedListWrapper" />
	</bean>
	<bean id="addGrouprightDialogCtrl" class="de.forsthaus.webui.security.groupright.AddGrouprightDialogCtrl" parent="basisCtrl"
		scope="prototype">
		<property name="securityService" ref="securityService" />
		<property name="plwSecRights" ref="pagedListWrapper" />
	</bean>
	<!-- Rights -->
	<bean id="secRightListCtrl" class="de.forsthaus.webui.security.right.SecRightListCtrl" parent="basisCtrl" scope="prototype">
		<property name="securityService" ref="securityService" />
	</bean>
	<bean id="secRightDialogCtrl" class="de.forsthaus.webui.security.right.SecRightDialogCtrl" parent="basisCtrl"
		scope="prototype">
		<property name="securityService" ref="securityService" />
	</bean>
	<!-- Roles -->
	<bean id="secRoleListCtrl" class="de.forsthaus.webui.security.role.SecRoleListCtrl" parent="basisCtrl" scope="prototype">
		<property name="securityService" ref="securityService" />
	</bean>
	<bean id="secRoleDialogCtrl" class="de.forsthaus.webui.security.role.SecRoleDialogCtrl" parent="basisCtrl" scope="prototype">
		<property name="securityService" ref="securityService" />
	</bean>
	<!-- Role-Groups -->
	<bean id="secRolegroupCtrl" class="de.forsthaus.webui.security.rolegroup.SecRolegroupCtrl" parent="basisCtrl"
		scope="prototype">
		<property name="securityService" ref="securityService" />
		<property name="plwSecRoles" ref="pagedListWrapper" />
		<property name="plwSecGroups" ref="pagedListWrapper" />
	</bean>
	<!-- User-Roles -->
	<bean id="secUserroleCtrl" class="de.forsthaus.webui.security.userrole.SecUserroleCtrl" parent="basisCtrl" scope="prototype">
		<property name="securityService" ref="securityService" />
		<property name="userService" ref="userService" />
		<property name="plwSecUsers" ref="pagedListWrapper" />
		<property name="plwSecRoles" ref="pagedListWrapper" />
	</bean>

	<bean name="reportService" class="de.forsthaus.services.report.service.impl.ReportServiceImpl" scope="prototype">
		<property name="orderDAO" ref="orderDAO" />
		<property name="orderpositionDAO" ref="orderpositionDAO" />
		<property name="customerDAO" ref="customerDAO" />
		<property name="officeDAO" ref="officeDAO" />
		<property name="brancheDAO" ref="brancheDAO" />
		<property name="orderService" ref="orderService" />
		<property name="customerService" ref="customerService" />
	</bean>

	<bean id="hibernateStatisticsCtrl" class="de.forsthaus.webui.debug.HibernateStatisticsCtrl" parent="basisCtrl"
		scope="prototype">
		<property name="guiHibernateStatisticsService" ref="guiHibernateStatisticsService" />
		<property name="gridPagedListWrapper" ref="pagedGridWrapper" />
	</bean>
	<bean id="hibernateStatisticsDetailCtrl" class="de.forsthaus.webui.debug.HibernateStatisticsDetailCtrl" scope="prototype">
		<property name="guiHibernateStatisticsService" ref="guiHibernateStatisticsService" />
	</bean>

	<bean id="userWorkspace" class="de.forsthaus.UserWorkspace" scope="session" />

	<bean id="basisCtrl" abstract="true" scope="prototype" class="de.forsthaus.webui.util.GFCBaseCtrl">
		<property name="userWorkspace" ref="userWorkspace" />
	</bean>

	<bean id="basisListCtrl" abstract="true" scope="prototype" class="de.forsthaus.webui.util.GFCBaseListCtrl" parent="basisCtrl"
		p:pagedListWrapper-ref="pagedListWrapper">
	</bean>

	<bean name="pagedListWrapper" class="de.forsthaus.webui.util.pagging.PagedListWrapper" p:pagedListService-ref="pagedListService"
		scope="prototype">
	</bean>

	<bean name="pagedBindingListWrapper" class="de.forsthaus.webui.util.pagging.PagedBindingListWrapper"
		p:pagedListService-ref="pagedListService" scope="prototype">
	</bean>

	<bean name="pagedGridWrapper" class="de.forsthaus.webui.util.pagging.PagedGridWrapper" p:pagedListService-ref="pagedListService"
		scope="prototype">
	</bean>

	<!-- MessageBarController -->
	<bean id="messageBarCtrl" class="de.forsthaus.webui.util.MessageBarCtrl" scope="prototype">
	</bean>
	<!-- StatusBarController -->
	<bean id="statusBarCtrl" class="de.forsthaus.webui.util.StatusBarCtrl" scope="prototype">
	</bean>
	<!-- UserBarController -->
	<bean id="userBarCtrl" class="de.forsthaus.webui.util.UserBarCtrl" scope="prototype">
	</bean>
	<!-- HelpPopupController -->
	<bean id="helpWindowCtrl" class="de.forsthaus.webui.util.HelpWindowCtrl" scope="prototype">
	</bean>


	<bean id="mainMenuCtrl" class="de.forsthaus.common.menu.MainMenuCtrl" scope="prototype" parent="basisCtrl">
		<property name="treeMainMenuFactory" ref="treeMenuFactory" />
		<property name="dropDownMenuFactory" ref="dropDownMenuFactory" />
	</bean>



	<!-- ReportStyles -->
	<bean id="djReportStyles" class="de.forsthaus.webui.reports.template.DJReportStyles" scope="prototype">
	</bean>

	<!-- <bean id="bBruhnsTestBean" class="de.forsthaus.bbruhns.BBruhnsTestBean" -->
	<!-- scope="session"> -->
	<!-- <aop:scoped-proxy /> -->
	<!-- </bean> -->

	<!-- <context:annotation-config /> -->
	<!-- <context:component-scan base-package="de.forsthaus.bbruhns" /> -->
	<!-- <aop:aspectj-autoproxy /> -->

	<!-- Init Application <bean id="initApplication" class="de.forsthaus.webui.InitApplication" parent="basisCtrl" scope="prototype"> 
		<property name="customerService" ref="customerService" /> <property name="filialeService" ref="filialeService" /> <property 
		name="brancheService" ref="brancheService" /> <property name="ipToCountryService" ref="ipToCountryService" /> </bean> -->

	<!-- Login Dialog <bean id="zkLoginDialogCtrl" class="de.forsthaus.webui.login.ZkLoginDialogCtrl" parent="basisCtrl" scope="prototype"> 
		</bean> -->

	<!-- Spreadsheet / Tabellenkalkulation -->
	<!-- <bean id="spreadsheetMainCtrl" class="de.forsthaus.webui.spreadsheet.SpreadsheetMainCtrl" parent="basisCtrl" scope="prototype"> 
		</bean> -->

	<!-- Report by omega -->
	<bean id="report01DaftarCpns" class="de.forsthaus.webui.pegawai.report.Report01DaftarCpnsCtrl" parent="basisCtrl" scope="prototype">
		<property name="tpCpnsReportDAO" ref="tpCpnsReportDao" />
	</bean>
	
	<bean id="report02DaftarPns" class="de.forsthaus.webui.pegawai.report.Report02DaftarPnsCtrl" parent="basisCtrl" scope="prototype">
		<property name="tbMasterDAO" ref="tbMasterDao" />
	</bean>
	
	<bean id="report03DaftarPnsUrutNip" class="de.forsthaus.webui.pegawai.report.Report03DaftarPnsUrutNipCtrl" parent="basisCtrl" scope="prototype">
		<property name="tbMasterDAO" ref="tbMasterDao" />
	</bean>
	
	<bean id="report04DaftarPnsUrutPangkat" class="de.forsthaus.webui.pegawai.report.Report04DaftarPnsUrutPangkatCtrl" parent="basisCtrl" scope="prototype">
		<property name="tbMasterDAO" ref="tbMasterDao" />
	</bean>
	
	<bean id="report05DaftarPnsUrutNama" class="de.forsthaus.webui.pegawai.report.Report05DaftarPnsUrutNamaCtrl" parent="basisCtrl" scope="prototype">
		<property name="tbMasterDAO" ref="tbMasterDao" />
	</bean>
	
	<bean id="report06DaftarPnsUrutJabatan" class="de.forsthaus.webui.pegawai.report.Report06DaftarPnsUrutJabatanCtrl" parent="basisCtrl" scope="prototype">
		<property name="tbMasterDAO" ref="tbMasterDao" />
	</bean>
	
	<bean id="report07DaftarKepangkatan" class="de.forsthaus.webui.pegawai.report.Report07DaftarKepangkatanCtrl" parent="basisCtrl" scope="prototype">
		<property name="tbMasterDAO" ref="tbMasterDao" />
	</bean>
	
	<bean id="report08DaftarJabatanStruktural" class="de.forsthaus.webui.pegawai.report.Report08DaftarJabatanStrukturalCtrl" parent="basisCtrl" scope="prototype">
		<property name="tbMasterDAO" ref="tbMasterDao" />
	</bean>
</beans>


	